.page {
	margin: auto;
	padding: 8% 0 0;
	width: 360px;
}

.form {
	background: #FFFFFF;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	margin: 0 auto 100px;
	max-width: 360px;
	padding: 45px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.form input {
	background: #f7f5f5;
	border: 0;
	box-sizing: border-box;
	font-size: 14px;
	margin: 0 0 15px;
	outline: 0;
	padding: 15px;
	width: 100%;
}

.form input[type="submit"] {
	background: #4CAF50;
	border: 0;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	outline: 0;
	padding: 15px;
	width: 100%;
}

.form input[type="submit"]:hover,.form input[type="submit"]:active,.form input[type="submit"]:focus {
	background: #43A047;
}

.form .message {
	color: #b3b3b3;
	font-size: 12px;
	margin: 15px 0 0;
}

.form .message a {
	color: #4CAF50;
	text-decoration: none;
}

.error {
	color: red;
}